<div class="login-box">

	<div class="content-box mar-top-100">
		<div class="infinite-icon">
			<i class="icon-infinite"></i>
		</div>

		<div class="control-group">
			<input type="text" class="form-control" placeholder="Email"/>
			<div class="bar"></div>
		</div>

		<div class="control-group">
			<input type="text" class="form-control" placeholder="Password"/>
			<div class="bar"></div>
		</div>

		<div class="action-container">
			<button type="button" class="btn btn-primary btn-block">Login</button>
		</div>
	</div>
			
</div>